body {
    margin: 0;
    padding: 0;
    background-image: url(../img/hatter-hold.jpg);
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Nav lesz majd egyszer elvileg
nav {
    width: 100%;
    background-color: rgba(14, 12, 12, 0.875);
    font-size: 16px;
    margin: 0;
    display: block;
    color: white;
    height: 6.75em;

    position: sticky;

    top: 1px;
    z-index: 10000;
    transition: background-color 1s ease-in-out;
    
}

nav:hover {
    background-color: rgba(14, 12, 12, 1);

}

#navHely {
    height: 6.75em;
    position: sticky;
    top: 0px;
    z-index: 10000;
}

.logoDiv {
    position: relative;
    display: inline-block;
}
.logoDiv > img {
    height: 5.25em;
    width: 5.25em;
    border-radius: 2em;
    margin-top: 0.75em;
    margin-left: 1em;
    
}

.navCim {
    position: absolute;
    display: inline-block;
    font-weight: 500;
    font-size: 3rem;
    margin-left: 1rem;
    margin-top: 1.875rem;
    
    nav magassag - font size ÷ 2 mert hogy folulrol is meg alulrol is... magamnak megjegyzes lol 
}

.navLink {
    position: relative;
    display: inline-block;
    margin-top: 2rem;
    margin-right: 1.245rem;
    margin-left: 0;
    font-size: 1rem;    
}

  .navLink h4,a {
    text-decoration: none;
    color: white;

    font-weight: 100;
  }

.linkek {
    display: inline-block;
    position: absolute;
    right: 0;
    height: 100%;
    box-sizing: border-box;
    font-size: 0;
} */

#tartalomResz {
    margin: 10% 5%;
    border-radius: 2rem;
    background-color: rgba(14, 12, 12, 0.5);
    height: 100%;
    width: 90%;
    box-sizing: border-box;
    padding: 1rem 3rem;
    color: rgb(241, 241, 241);
}

#tartalomReszCim {
    font-size: 4rem;
    text-align: center;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -2px;
    text-shadow: 3px 2px 7px purple;
    color: #e0cef3;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#tartalomResz p {
    text-align: justify;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.tartalomReszAlcim {
    font-size: 2.5rem;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -2px;
    color: #C0C0C0;
    margin-top: 0;
    margin-bottom: 2rem;
}

#tartalomResz p {
    text-align: justify;
    margin-right: 1rem;
    font-size: 1.75rem;
}

#tartalomResz img {
    float: right;
    margin-left: 2rem;
    margin-bottom: 2rem;
    height: 30rem;
    border-radius: 2rem;
    
}

::selection {
    background-color:  rgba(170, 108, 235, 0.335);
}

img::selection {
    background-color:  rgba(170, 108, 235, 0.125);
}